In [5]:
# installing missing libraries
!pip install pymysql

# importing libraries
import pandas as pd
import pymysql
import numpy as np

Requirement already satisfied: pymysql in c:\python310\lib\site-packages (1.0.2)

In [6]:
# download edinburgh_bikes from server 
query = 'SELECT * FROM edinburgh_bikes'
engine = create_engine("mysql+pymysql://data-student:u9AB6hWGsNkNcRDm@data.engeto.com:3306/data_academy_04_2022")
# save the table as dataframe
df_bikes = pd.read_sql(sql=query, con=engine)

NameError: name 'create_engine' is not defined

In [ ]:
df_bikes

In [7]:
df_weather

NameError: name 'df_weather' is not defined

# Detailed examination of the list of station names managed to identify likely misspellings in the names of the stations:

1. Bruntsfield **L**inks X Bruntsfield **l**inks
2. Picady Place | Pica**r**dy Place
3. Waitrose Comely Bank | Waitrose**,** Comely Bank

not necesserary a typo, but might be better to unify since they have close spatial relationships:

4. Kings Building 2 | Kings Building 3 | Kings Building**s** 1 | Kings Building**s** 4

### add 1. Bruntsfield **L**inks

In [ ]:
BruntsfieldLinks_used = df_bikes[df_bikes['start_station_name'] == 'Bruntsfield Links'].shape[0]
print(f'Station Bruntsfield Links was used {BruntsfieldLinks_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Bruntsfield Links'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

### add 1. Bruntsfield **l**inks

In [ ]:
Bruntsfieldlinks_used = df_bikes[df_bikes['start_station_name'] == 'Bruntsfield links'].shape[0]
print(f'Station Bruntsfield links was used {Bruntsfieldlinks_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Bruntsfield links'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

If we compare these two station names, we will see that they do not have the same name, description, or coordinates. From this we can conclude that it is not a typo in the database. But what is likely is that the original station was replaced with a new one. The analysis of active and inactive stations will take care of solving this problem.

### add 2. Picady Place

In [ ]:
PicadyPlace_used = df_bikes[df_bikes['start_station_name'] == 'Picady Place'].shape[0]
print(f'Station Picady Place was used {PicadyPlace_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Picady Place'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

### add2. Pica**r**dy Place

In [ ]:
PicardyPlace_used = df_bikes[df_bikes['start_station_name'] == 'Picardy Place'].shape[0]
print(f'Station Picardy Place was used {PicardyPlace_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Picardy Place'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

If we compare these two station names, we will see that they have the same description and coordinates. In addition, the first mentioned station was used only once. From this we can conclude that it is a typo in the database. In this case, we are allowed to correct the error by overwriting the correct name of the station:

Overwriting the correct name of the station Picardy Place:

In [ ]:
df_bikes.loc[df_bikes['start_station_name'] == 'Picady Place', 'start_station_name'] = 'Picardy Place'

### add 3. Waitrose Comely Bank

In [ ]:
WaitroseComelyBank_used = df_bikes[df_bikes['start_station_name'] == 'Waitrose Comely Bank'].shape[0]
print(f'Station Waitrose Comely Bank was used {WaitroseComelyBank_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Waitrose Comely Bank'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

### add3. Waitrose**,** Comely Bank

In [ ]:
Waitrose_ComelyBank_used = df_bikes[df_bikes['start_station_name'] == 'Waitrose, Comely Bank'].shape[0]
print(f'Station Waitrose, Comely Bank was used {Waitrose_ComelyBank_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Waitrose, Comely Bank'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

If we compare these two station names, we will see that they do not have the same name, description, or coordinates. From this we can conclude that it is not a typo in the database. But what is likely is that the original station was replaced with a new one. The analysis of active and inactive stations will take care of solving this problem.

### add4. Waitrose Kings Buildings 1

In [ ]:
KingsBuildings1_used = df_bikes[df_bikes['start_station_name'] == 'Kings Buildings 1'].shape[0]b
print(f'Station Kings Buildings 1 was used {KingsBuildings1_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Kings Buildings 1'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

### add4. Waitrose Kings Building 2

In [ ]:
KingsBuilding2_used = df_bikes[df_bikes['start_station_name'] == 'Kings Building 2'].shape[0]
print(f'Station Kings Building 2 was used {KingsBuilding2_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Kings Building 2'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

### add4. Waitrose Kings Building 3

In [ ]:
KingsBuilding3_used = df_bikes[df_bikes['start_station_name'] == 'Kings Building 3'].shape[0]
print(f'Station Kings Building 3 was used {KingsBuilding3_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Kings Building 3'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

### add4. Waitrose Kings Buildings 4

In [ ]:
KingsBuildings4_used = df_bikes[df_bikes['start_station_name'] == 'Kings Buildings 4'].shape[0]
print(f'Station Kings Buildings 4 was used {KingsBuildings4_used} times.')

df_bikes[df_bikes['start_station_name'] == 'Kings Buildings 4'][
    ['ended_at', 'start_station_name', 'start_station_description', 
     'start_station_latitude', 'start_station_longitude']].tail(1)

The usage, description and coordinate of those stations are so different that we rather keep those stations untouched ;-)



---



<br>

# Final writing of a clean dataframe into csv

In [ ]:
df_bikes.to_csv('edinburgh_bikes.csv')

<br>

# Modifying `edinburgh_weather` table:

In [ ]:
# download edinburgh_weather from server 
query = 'SELECT * FROM edinburgh_weather'
engine = create_engine("mysql+pymysql://data-student:u9AB6hWGsNkNcRDm@data.engeto.com:3306/data_academy_04_2022")
# save the table as dataframe
df_weather = pd.read_sql(sql=query, con=engine)

In [ ]:
df_weather

In [ ]:
# copying `wind` column
df_weather['wind-dir'] = df_weather['wind']

In [ ]:
# re-arranging column to meet the eye :-)
cols = df_weather.columns.tolist()
cols = cols[10:11] + cols[:10] + cols[11:12]
cols2 = cols[:5] + cols[-1:] + cols[5:-1]
df_weather = df_weather[cols2]

In [ ]:
df_weather

In [ ]:
# stripping values in columns and transforming into int or float format
df_weather['temp'] = df_weather['temp'].str.replace('°c', '').astype('int')
df_weather['feels'] = df_weather['feels'].str.replace('°c', '').astype('int')

df_weather['wind'] = df_weather['wind'].str.strip('km/hfromSWEN ').astype('int')
df_weather['wind-dir'] = df_weather['wind-dir'].str.strip('km/hfrom1234567890 ').astype('str')
df_weather['gust'] = df_weather['gust'].str.replace('km/h', '').astype('int')

df_weather['rain'] = df_weather['rain'].str.replace('mm', '').astype('float')
df_weather['humidity'] = df_weather['humidity'].str.replace('%', '').astype('int')
df_weather['cloud'] = df_weather['cloud'].str.replace('%', '').astype('int')

df_weather['pressure'] = df_weather['pressure'].str.replace('mb', '').astype('int')


# renaming column names
df_weather = df_weather.rename(columns={
    "temp": "temp[°C]", 
    "feels": "feels[°C]",
    "wind": "wind[km/h]",
    "gust": "gust[km/h]",
    "rain": "rain[mm]",
    "humidity": "humidity[%]",
    "cloud": "cloud[%]",
    "pressure": "pressure[mb]",
    "vis": "visibility"}
    )

# Final writing of a clean dataframe into csv

In [ ]:
df_weather.to_csv('edinburgh_weather.csv')

In [9]:
df_weather = pd.read_csv('edinburgh_weather.csv')
df_weather

,Unnamed: 0,date,time,temp[°C],feels[°C],wind[km/h],wind-dir,gust[km/h],rain[mm],humidity[%],cloud[%],pressure[mb],visibility
0,0,2018-09-01,00:00,11,11,9,S,19,0.0,79,13,1020,Excellent
1,1,2018-09-01,03:00,13,12,11,SSW,19,0.0,76,96,1020,Excellent
2,2,2018-09-01,06:00,14,13,11,SSW,19,0.0,84,100,1020,Excellent
3,3,2018-09-01,09:00,14,13,14,SSW,23,0.1,88,78,1021,Excellent
4,4,2018-09-01,12:00,16,16,15,SSW,22,0.0,87,87,1021,Excellent
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6331,6331,2020-10-31,09:00,14,12,21,SSE,33,0.4,86,100,993,Poor
6332,6332,2020-10-31,12:00,14,12,24,SSE,37,0.4,88,94,987,Poor
6333,6333,2020-10-31,15:00,10,6,42,SW,55,0.5,75,100,989,Excellent
6334,6334,2020-10-31,18:00,9,5,38,WSW,54,0.0,76,79,994,Excellent
6335,6335,2020-10-31,21:00,8,4,36,SW,49,0.1,74,79,997,Excellent